<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1> text vs utext</h1>
<ul>
  <li>th:text 사용 <span th:text="${data}"></span></li>
  <lit>th:utext 사용 <span th:utext="${data}"></span></lit>
  <li>컨텐츠 안에서 직접 출력하기 = [[${data}]] </li>
</ul>

<h1><span th:inline="none">[[...]] vs [(...)]</span></h1>
<ul>
  <!-- th:inline을 사용하는 이유 -->
  <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
  <li><span th:inline="none">[(.z..)] = </span>[(${data})]</li>
</ul>

</body>
</html>